<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title th:text="#{email.activation.title}">Smart Solutions Capital creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p th:text="#{email.activation.greeting(${user.login})}">Dear</p>
    <p th:text="#{email.activation.text1(${user.id})}">
      Your Smart Solutions Capital Application - {0} has been created, your may go to our website
      <a href="http://ssc.finance/">ssc.finance</a>
      to check your application status
    </p>
    <p>
      <span th:text="#{email.activation.text2}">Regards, </span>
      <br />
      <em th:text="#{email.signature}">Smart Solutions Capital.</em>
    </p>
  </body>
</html>
